#page-auth {
  height: 100vh;

  display: flex;
  align-items: stretch;

  aside {
    padding: 120px 80px;
    background: #835afd;
    color: #fff;

    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 320px;
    }

    strong {
      margin-top: 16px;
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 42px;
    }

    p {
      margin-top: 16px;
      color: #f8f8f8;
      font-size: 1.5rem;
      line-height: 32px;
    }
  }

  main {
    padding: 0 32px;

    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-content {
      max-width: 320px;
      width: 100%;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: stretch;

      > img {
        align-self: center;
      }

      .create-room-btn {
        margin-top: 64px;
        height: 50px;
        border: 0;
        border-radius: 8px;
        background: #ea4335;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        transition: filter 0.2s;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin-right: 8px;
        }

        &:hover {
          filter: brightness(0.9);
        }
      }

      .separator {
        margin: 32px 0;
        color: #a8a8b3;
        font-size: 0.875rem;

        display: flex;
        align-items: center;

        &::before {
          content: "";
          margin-right: 16px;
          height: 1px;
          background: #a8a8b3;

          flex: 1;
        }

        &::after {
          content: "";
          margin-left: 16px;
          height: 1px;
          background: #a8a8b3;

          flex: 1;
        }
      }

      form {
        input, button {
          width: 100%;
        }

        input {
          padding: 0 16px;
          height: 50px;
          border: 1px solid #a8a8b3;
          border-radius: 8px;
          background: #fff;
        }

        button {
          margin-top: 16px;
        }
      }
    }
  }
}
